$body-font-family: -apple-system, BlinkMacSystemFont, SF Compact Display Medium,
  Roboto, Oxygen, "Helvetica Neue", "PingFang SC", sans-serif;

$font-weights: (
  "thin": 100,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 600,
  "black": 900,
);

$container-padding-x: 16px;
