@import "~@foxone/uikit/src/styles/variables/_index.scss";
$body-font-family: "Inter", Roboto, Oxygen, "Helvetica Neue", "PingFang SC",
  sans-serif;
$line-height-root: 1.2;
$font-weights: () !default;
$font-weights: map-deep-merge(
  (
    "thin": 100,
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "black": 900,
  ),
  $font-weights
);
$snackbar-absolute-z-index: 1000;
$headings: (
  "subtitle-1": (
    "size": 1.125rem,
    "weight": 300,
  ),
);

$pagination-item-font-size: 14px;
$pagination-item-margin: 2px;
$pagination-navigation-margin: 14px;
