a {
  text-decoration: none;
}

span,
div,
p,
a {
  user-select: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.theme--dark.v-application {
  .f-bg-greyscale-7 {
    background-color: #000000;
  }
  .f-panel.v-sheet {
    background-color: #1e1e1e;
  }
  .f-orange {
    color: #f07a02;
  }
  ::v-deep {
    .f-app-bar-title {
      display: block;
      position: absolute;
      left: 32px;
      right: 40px;
      &.left {
        text-align: left;
        padding-left: 4px !important;
      }
      &.left.no-back {
        left: 8px;
      }
      &.center {
        text-align: center;
        padding-left: 0px !important;
      }
      &.center.no-back {
        left: 0px;
        right: 0px;
      }
    }
  }
}

.theme--light.v-application {
  .f-bg-greyscale-7 {
    background-color: #ffffff;
  }
  .f-orange {
    color: #ffa125;
  }
  ::v-deep {
    .f-app-bar-title {
      display: block;
      position: absolute;
      left: 32px;
      right: 40px;
      &.left {
        text-align: left;
        padding-left: 4px !important;
      }
      &.left.no-back {
        left: 8px;
      }
      &.center {
        text-align: center;
        padding-left: 0px !important;
      }
      &.center.no-back {
        left: 0px;
        right: 0px;
      }
    }
  }
}

.risk-title {
  font-family: "SF Pro Text";
  font-weight: 700;
}

.f-info-grid {
  .f-info-grid-inner {
    .f-info-grid-item {
      .f-info-grid-item-content {
        .f-info-grid-item-value-wrapper {
          .f-info-grid-item-value {
            font-size: 16px !important;
          }
        }
      }
    }
  }
}
