a {
  text-decoration: none;
}

span,
div,
p,
a {
  user-select: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.theme--dark.v-application {
  .f-greyscale-7 {
    color: #000000;
  }
  .f-bg-greyscale-7 {
    background-color: #000000 !important;
  }
  .f-bg-riskGreen {
    background-color: #45764e !important;
  }
  .f-bg-riskOrange {
    background-color: #97713a !important;
  }
  .f-bg-riskRed {
    background-color: #8a4141 !important;
  }
  .f-bg-riskGrey {
    background-color: #36383b !important;
  }
  .f-riskGreen {
    color: #56d471 !important;
  }
  .f-riskOrange {
    color: #ff9d3e !important;
  }
  .f-riskRed {
    color: #f67070 !important;
  }
  .f-riskGrey {
    color: #9b9c9d;
  }
  .f-panel.v-sheet {
    background-color: #1e1e1e;
  }
  .f-orange {
    color: #f07a02;
  }
  .f-button.v-size--default {
    height: 56px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.theme--light.v-application {
  .f-greyscale-7 {
    color: #ffffff;
  }
  .f-bg-greyscale-7 {
    background-color: #ffffff;
  }
  .f-bg-riskGreen {
    background-color: #ebfced;
  }
  .f-bg-riskOrange {
    background-color: #fcf8f0;
  }
  .f-bg-riskRed {
    background-color: #fbf2f2;
  }
  .f-bg-riskGrey {
    background-color: #f5f5f5;
  }
  .f-riskGreen {
    color: #2cc94e !important;
  }
  .f-riskOrange {
    color: #f58721 !important;
  }
  .f-riskRed {
    color: #f44c4c !important;
  }
  .f-riskGrey {
    color: #9b9c9d;
  }
  .f-orange {
    color: #ffa125;
  }
  .f-button.v-size--default {
    height: 56px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.risk-title {
  font-family: "SF Pro Text";
  font-weight: 700;
}

.leaf-card {
  max-width: 482px;
}

.pando-divider {
  height: 0.5px;
  opacity: 0.1;
}
